[submodule "JSEngine2.0/vendor/spdlog"]
	path = JSEngine2.0/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "JSEngine2.0/vendor/GLFW"]
	path = JSEngine2.0/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "JSEngine2.0/vendor/glm"]
	path = JSEngine2.0/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "JSEngine2.0/vendor/tinyXML"]
	path = JSEngine2.0/vendor/tinyXML
	url = https://github.com/leethomason/tinyxml2.git
[submodule "JSEngine2.0/vendor/imgui"]
	path = JSEngine2.0/vendor/imgui
	url = https://github.com/zhutou82/imgui.git
[submodule "JSEngine2.0/vendor/box2D"]
	path = JSEngine2.0/vendor/box2D
	url = https://github.com/zhutou82/box2d.git
